<style>
body {
background: rgba(0,0,0,1) url(/assets/img/web.png);
background-position: 0;
background-size: cover;
}
</style>

<h1 id="site-logo" class="pretty" onclick="window.location='/'">VIUDA<span class="icon-btn">?</span>NEGRA</h1>

<div id="impress" class="impress-not-supported">

	<div class="fallback-message">
		<p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
		<p>For the best experience please use the latest <b>Chrome</b> or <b>Safari</b> browser. Firefox 10 and Internet Explorer 10 <i>should</i> also handle it.</p>
	</div>

	<div id="title" class="step" data-x="0" data-y="0" data-scale="1">
		<!--
		################################################
			- THE PARALLAX WORLD -		
			Zooming Best values in range from 70 - 150
		################################################
		-->
		
		<div id="world" class="parallax_world" data-zoommin="100" data-zoommax="120">
			
				
				<!--
			##############################
				 garage  Settings  
			##############################
			-->

	        <div id="garage" class="parallax_world_class fadeup" data-startx="-25" data-endx="-95" data-startx_ie8="-25" data-endx_ie8="-95" data-starty="50" data-endy="60" data-starty_ie8="50" data-endy_ie8="60" data-startskew="0" data-endskew="0" data-zoomxoffset="0" data-zoomxoffset_ie8="0" data-zoomxendoffset="0" data-zoomxendoffset_ie8="0">
						<img src="images/garage/assets/front_head.jpg">
			</div>

			<!--
			##############################
				 Rollo  Settings  
			##############################
			-->

	        <div id="Rollo" class="parallax_world_class fadedown" data-startx="192" data-endx="122" data-startx_ie8="192" data-endx_ie8="122" data-starty="164" data-endy="172" data-starty_ie8="164" data-endy_ie8="172" data-startskew="0" data-endskew="0" data-zoomxoffset="0" data-zoomxoffset_ie8="0" data-zoomxendoffset="0" data-zoomxendoffset_ie8="0"> 
						<img src="images/garage/assets/rollo.jpg">
			</div>

			<!--
			##############################
				 street  Settings  
			##############################
			-->

	        <div id="street" class="parallax_world_class fadeleft" data-startx="15" data-endx="-95" data-startx_ie8="0" data-endx_ie8="-76" data-starty="448" data-endy="495" data-starty_ie8="428" data-endy_ie8="474" data-startskew="30" data-endskew="-30" data-zoomxoffset="5" data-zoomxoffset_ie8="5" data-zoomxendoffset="5" data-zoomxendoffset_ie8="5">				
					<img src="images/garage/assets/bottom.png">
			</div>

			<!--
			##############################
				 front  Settings  
			##############################
			-->

	        <div id="front" class="parallax_world_class fadeup" data-startx="38" data-endx="-119" data-startx_ie8="2" data-endx_ie8="-75" data-starty="534" data-endy="595" data-starty_ie8="515" data-endy_ie8="572" data-startskew="0" data-endskew="0" data-zoomxoffset="5" data-zoomxoffset_ie8="5" data-zoomxendoffset="8" data-zoomxendoffset_ie8="5">						
						<img src="images/garage/assets/bottom_front.jpg">
			</div>

			<!--
			##############################
				 Table  Settings  
			##############################
			-->

	        <div id="Table" class="parallax_world_class fadedown" data-startx="620" data-endx="469" data-startx_ie8="590" data-endx_ie8="500" data-starty="320" data-endy="355" data-starty_ie8="320" data-endy_ie8="355" data-startskew="0" data-endskew="0" data-zoomxoffset="61" data-zoomxoffset_ie8="50" data-zoomxendoffset="71" data-zoomxendoffset_ie8="50">									
						<div id="table_button" class="p_button">
							<img src="images/garage/assets/tablet_button_normal.png" alt="images/garage/assets/tablet_button_hover.png">
						</div>
			</div>

			<!--
			##############################
				 big_lamp  Settings  
			##############################
			-->

	        <div id="big_lamp" class="parallax_world_class faderight" data-startx="66" data-endx="-30" data-startx_ie8="60" data-endx_ie8="-30" data-starty="-61" data-endy="-71" data-starty_ie8="-75" data-endy_ie8="-85" data-startskew="0" data-endskew="0" data-zoomxoffset="-49" data-zoomxoffset_ie8="-55" data-zoomxendoffset="-55" data-zoomxendoffset_ie8="-55">				
						<img src="images/garage/assets/lamp.png">
			</div>

			<!--
			##############################
				 trash  Settings  
			##############################
			-->

	        <div  id="trash" class="parallax_world_class faderight" data-startx="117" data-endx="4" data-startx_ie8="100" data-endx_ie8="20" data-starty="367" data-endy="401" data-starty_ie8="340" data-endy_ie8="370" data-startskew="0" data-endskew="0" data-zoomxoffset="-42" data-zoomxoffset_ie8="-30" data-zoomxendoffset="-42" data-zoomxendoffset_ie8="-30">
						<div  id="trash_button" class="p_button">
							<a href="http://www.google.de">
								<img  src="images/garage/assets/trashcan_button_normal.png" alt="images/garage/assets/trashcan_button_hover.png">						
							</a>
						</div>					
			</div>

			<!--
			##############################
				 small_lamp  Settings  
			##############################
			-->

	        <div id="small_lamp" class="parallax_world_class faderight" data-startx="671" data-endx="601" data-startx_ie8="671" data-endx_ie8="598" data-starty="117" data-endy="93" data-starty_ie8="120" data-endy_ie8="97" data-startskew="0" data-endskew="0" data-zoomxoffset="57" data-zoomxoffset_ie8="55" data-zoomxendoffset="57" data-zoomxendoffset_ie8="55">
						<img src="images/garage/assets/lamp_anim.gif">						
						
			</div>

			<!--
			##############################
				 skate_logo  Settings  
			##############################
			-->

	        <div id="skate_logo" class="parallax_world_class faderight" data-startx="270" data-endx="200" data-startx_ie8="270" data-endx_ie8="200" data-starty="60" data-endy="30" data-starty_ie8="60" data-endy_ie8="30" data-startskew="0" data-endskew="0" data-zoomxoffset="0" data-zoomxoffset_ie8="0" data-zoomxendoffset="0" data-zoomxendoffset_ie8="0">
						<img src="images/garage/assets/skate_logo.png">						
						
			</div>
		
		</div>
	</div>

	<div id="life-story" class="step" data-x="2400" data-y="2890" data-rotate="180" data-scale="6" data-z="-200">
		<strong>Life Story</strong>
		<p id="life-digitals">goes here</p>
	</div>

	<div id="other-stuff" class="step" data-x="2400" data-y="2890" data-rotate="180" data-scale="6" data-z="-200">
		<strong>Other stuff</strong>
		<p id="life-digitals">goes here</p>
	</div>

	<div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10"></div>

</div>

<div class="hint">
	<p>Use left/right arrow keys to navigate, or esc for quick menu</p>
</div>

<script src="assets/plugins/impress.js"></script>

<script>
!function ($) {
	$(function(){

		//$('#salesCarousel').carousel();
		$.noConflict();						 
		jQuery('#world').fhparallax({
			editor:'off',
			path:'parallax/js/ZeroClipboard.swf',
			automatic:0,
			mobile_auto_start:"yes"
		});

	})
}(window.jQuery)
</script>