<style>
body {
/*background: rgba(0,0,0,1);
background: rgba(0,0,0,1) url(/assets/img/web.png);
background-position: 0;
background-size: cover;*/
/*background-color:#005D8C;
background-image: -moz-radial-gradient(50% 50%, ellipse cover, #005D8C, #000030 100%);
background-image: -webkit-radial-gradient(50% 50%, ellipse cover, #005D8C, #000030 100%);
background-image: -o-radial-gradient(50% 50%, ellipse cover, #005D8C, #000030 100%);
background-image: -ms-radial-gradient(50% 50%, ellipse cover, #005D8C, #000030 100%);
background-image: radial-gradient(50% 50%, ellipse cover, #005D8C, #000030 100%)*/
}
</style>

<h1 id="site-logo" class="pretty" onclick="window.location='/'">VIUDA<span class="icon-btn">?</span>NEGRA</h1>

<div id="impress" class="impress-not-supported">

	<div class="fallback-message">
		<p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
		<p>For the best experience please use the latest <b>Chrome</b> or <b>Safari</b> browser. Firefox 10 and Internet Explorer 10 <i>should</i> also handle it.</p>
	</div>

	<div id="title" class="step" data-x="0" data-y="0" data-scale="1">
		<strong>Intro page</strong>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
	</div>

	<div id="artista" class="step" data-x="2400" data-y="2890" data-rotate="90" data-scale="6" data-z="-200">
		<strong>Artista</strong>
		<p>goes here</p>
	</div>

	<div id="historia" class="step" data-x="2400" data-y="2890" data-rotate="180" data-scale="6" data-z="-200">
		<strong id="life-story-title">Historia</strong>
		<div id="target" class="clearfix">
			<p><img src="//placehold.it/333x666" class="fL">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales ullamcorper urna, vel elementum massa pulvinar id. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce in metus justo. Suspendisse tincidunt libero ullamcorper eros mollis faucibus. Praesent a congue lacus. Phasellus ac eros justo. Vivamus arcu nisl, pharetra a viverra quis, mattis eu nulla. Donec ultrices fringilla urna nec venenatis. Etiam volutpat nisi non sapien tempus eu euismod sapien blandit. Sed pretium, diam ac viverra faucibus, metus dolor suscipit mauris, nec ornare mauris leo a metus. Pellentesque lectus ante, consectetur ut convallis vel, sagittis id nisl. Fusce viverra fringilla orci eu vestibulum.</p>

			<p>Cras pulvinar quam purus. Aliquam tempus facilisis dolor eu tincidunt. Donec quis urna tellus, ut rutrum metus. Sed magna enim, condimentum sed hendrerit sagittis, pharetra et magna. Sed sed lorem eget nulla gravida dictum a sed sem. Mauris vel justo quam. Donec vehicula condimentum volutpat. Nullam eget aliquet nisl.</p>

			<p>Aenean interdum massa eget tellus molestie sodales. Sed vitae libero ac risus rutrum posuere non condimentum metus. Morbi mollis nulla ac nulla accumsan vehicula. Aenean egestas tortor non sapien cursus et elementum orci consequat. Sed a enim sit amet magna laoreet bibendum. Morbi id lorem vitae enim facilisis pretium. Fusce eu dui nec enim dapibus convallis vel molestie justo. Phasellus ornare euismod commodo. Integer vitae lectus eros. Morbi tristique mattis est nec dictum. Integer at arcu lorem. Integer at urna libero.</p>

			<p>Suspendisse potenti. Nunc eu felis neque, ac pellentesque velit. Nulla sed sapien sit amet nisi egestas porta in rhoncus mi. Quisque luctus tellus et erat pellentesque adipiscing. Mauris vulputate, elit at ullamcorper ultricies, lacus est eleifend nulla, sit amet bibendum libero ipsum vel elit. Pellentesque mollis mi fringilla dui rhoncus ac porttitor nulla ultricies. Donec vehicula tempor sagittis. Aliquam erat volutpat. Sed imperdiet ipsum ac quam porttitor pellentesque. Morbi non metus eu nunc blandit lobortis. Quisque condimentum sem suscipit nibh dapibus sed porta quam laoreet.<img src="//placehold.it/222x123" class="fR"></p>

			<p>Donec cursus nisi nec tortor congue tincidunt. Nulla varius ante nec tortor blandit ut congue purus ullamcorper. Quisque et sem non turpis porta iaculis eu a odio. Pellentesque malesuada justo nec lacus commodo auctor. Sed nulla ligula, venenatis adipiscing cursus in, tempus at orci. Quisque at libero ut justo bibendum pellentesque eget in tellus. Aliquam volutpat condimentum ante eget ultricies. Vestibulum velit mauris, malesuada eu hendrerit sed, iaculis sed sem. Fusce id augue sem. Phasellus auctor gravida dapibus. Ut consequat est magna. Mauris quis porttitor urna.</p>
		</div>
	</div>

	<div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10"></div>

</div>

<div class="hint">
	<p>Use left/right arrow keys to navigate, or esc for quick menu</p>
</div>

<script src="assets/plugins/impress.js"></script>

<script>
!function ($) {
	$(function(){

		//$('#salesCarousel').carousel();
		// $.noConflict();						 
		// jQuery('#garage').fhparallax({
		// 	editor:'off',
		// 	path:'/assets/libs/parallax/js/ZeroClipboard.swf',
		// 	automatic:0,
		// 	mobile_auto_start:"yes"
		// });

	})
}(window.jQuery);
</script>