<script id="previewTmpl" type="text/x-jquery-tmpl">
	<div id="ib-img-preview" class="ib-preview">
		<img src="${src}" alt="" class="ib-preview-img"/>
		<span class="ib-preview-descr" style="display:none;">${description}</span>
		<div class="ib-nav" style="display:none;">
			<span class="ib-nav-prev">Previous</span>
			<span class="ib-nav-next">Next</span>
		</div>
		<span class="ib-close" style="display:none;">Close Preview</span>
		<div class="ib-loading-large" style="display:none;">Loading...</div>
	</div>		
</script>
<script id="contentTmpl" type="text/x-jquery-tmpl">	
	<div id="ib-content-preview" class="ib-content-preview">
		<div class="ib-teaser" style="display:none;">{{html teaser}}</div>
		<div class="ib-content-full" style="display:none;">{{html content}}</div>
		<span class="ib-close" style="display:none;">Close Preview</span>
	</div>
</script>	

<div class="gallery-container">

<div id="ib-top" class="ib-top">
<h1><span id="return-button">return</span> Gallery category <span>and Name</span></h1>
</div>
<div id="ib-main-wrapper" class="ib-main-wrapper">
<div class="ib-main">
<a href="#"><img src="images/thumbs/1.jpg" data-largesrc="images/large/1.jpg" alt="image01"/><span>Crabbed Age and Youth</span></a>
<a href="#"><img src="images/thumbs/2.jpg" data-largesrc="images/large/2.jpg" alt="image02"/><span>Cannot live together</span></a>
<a href="#" class="ib-content">
<div class="ib-teaser">
<h2>Welcome <span>Howdy, Stranger</span></h2>
</div>
<div class="ib-content-full">
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
</div>
</a>
<a href="#"><img src="images/thumbs/3.jpg" data-largesrc="images/large/3.jpg" alt="image03"/><span>Youth is full of pleasance</span></a>
<a href="#"><img src="images/thumbs/4.jpg" data-largesrc="images/large/4.jpg" alt="image04"/><span>Age is full of care</span></a>
<a href="#" class="ib-content">
<div class="ib-teaser">
<h2>Portfolio <span>Some Works</span></h2>
</div>
<div class="ib-content-full">
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
</div>
</a>
<a href="#"><img src="images/thumbs/5.jpg" data-largesrc="images/large/5.jpg" alt="image05"/><span>Youth like summer morn</span></a>
<a href="#"><img src="images/thumbs/6.jpg" data-largesrc="images/large/6.jpg" alt="image06"/><span>Age like winter weather</span></a>
<a href="#"><img src="images/thumbs/7.jpg" data-largesrc="images/large/7.jpg" alt="image07"/><span>Youth like summer brave</span></a>
<a href="#"><img src="images/thumbs/8.jpg" data-largesrc="images/large/8.jpg" alt="image08"/><span>Age like winter bare</span></a>
<a href="#"><img src="images/thumbs/9.jpg" data-largesrc="images/large/9.jpg" alt="image09"/><span>Youth is full of sports</span></a>
<a href="#"><img src="images/thumbs/10.jpg" data-largesrc="images/large/10.jpg" alt="image10"/><span>Age's breath is short</span></a>
<a href="#" class="ib-content">
<div class="ib-teaser">
<h2>Photography <span>Professional Shots</span></h2>
</div>
<div class="ib-content-full">
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
</div>
</a>
<a href="#"><img src="images/thumbs/11.jpg" data-largesrc="images/large/11.jpg" alt="image11"/><span>Youth is nimble, Age is lame</span></a>
<a href="#"><img src="images/thumbs/12.jpg" data-largesrc="images/large/12.jpg" alt="image12"/><span>Youth is hot and bold</span></a>
<a href="#"><img src="images/thumbs/13.jpg" data-largesrc="images/large/13.jpg" alt="image13"/><span>Age is weak and cold</span></a>
<a href="#"><img src="images/thumbs/14.jpg" data-largesrc="images/large/14.jpg" alt="image14"/><span>Youth is wild, and Age is tame</span></a>
<a href="#"><img src="images/thumbs/15.jpg" data-largesrc="images/large/15.jpg" alt="image15"/><span>Age, I do abhor thee</span></a>
<a href="#"><img src="images/thumbs/16.jpg" data-largesrc="images/large/16.jpg" alt="image16"/><span>Youth, I do adore thee</span></a>
<a href="#"><img src="images/thumbs/17.jpg" data-largesrc="images/large/17.jpg" alt="image17"/><span>My Love, my Love is young</span></a>
<a href="#" class="ib-content">
<div class="ib-teaser">
<h2>Web Design <span>References</span></h2>
</div>
<div class="ib-content-full">
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
</div>
</a>
<a href="#"><img src="images/thumbs/18.jpg" data-largesrc="images/large/18.jpg" alt="image18"/><span>Age, I do defy thee</span></a>
<a href="#"><img src="images/thumbs/19.jpg" data-largesrc="images/large/19.jpg" alt="image19"/><span>O sweet shepherd, hie thee</span></a>
<a href="#"><img src="images/thumbs/20.jpg" data-largesrc="images/large/20.jpg" alt="image20"/><span>For methinks thou stay'st too long</span></a>
<a href="#"><img src="images/thumbs/21.jpg" data-largesrc="images/large/21.jpg" alt="image21"/><span>The Phoenix and the Turtle</span></a>
<a href="#"><img src="images/thumbs/22.jpg" data-largesrc="images/large/22.jpg" alt="image22"/><span>Let the bird of loudest lay</span></a>
<a href="#"><img src="images/thumbs/23.jpg" data-largesrc="images/large/23.jpg" alt="image23"/><span>On the sole Arabian tree</span></a>
<a href="#"><img src="images/thumbs/24.jpg" data-largesrc="images/large/24.jpg" alt="image24"/><span>Herald sad and trumpet be</span></a>
<a href="#"><img src="images/thumbs/25.jpg" data-largesrc="images/large/25.jpg" alt="image25"/><span>To whose sound chaste wings obey</span></a>
<a href="#" class="ib-content">
<div class="ib-teaser">
<h2>Blog <span>Just some thoughts</span></h2>
</div>
<div class="ib-content-full">
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
</div>
</a>
<a href="#"><img src="images/thumbs/26.jpg" data-largesrc="images/large/26.jpg" alt="image26"/><span>But thou shrieking harbinger</span></a>
<a href="#"><img src="images/thumbs/27.jpg" data-largesrc="images/large/27.jpg" alt="image27"/><span>Foul precurrer of the fiend</span></a>
<a href="#"><img src="images/thumbs/28.jpg" data-largesrc="images/large/28.jpg" alt="image28"/><span>Augur of the fever's end</span></a>
<a href="#"><img src="images/thumbs/1.jpg" data-largesrc="images/large/1.jpg" alt="image01"/><span>Crabbed Age and Youth</span></a>
<a href="#"><img src="images/thumbs/2.jpg" data-largesrc="images/large/2.jpg" alt="image02"/><span>Cannot live together</span></a>
<a href="#"><img src="images/thumbs/3.jpg" data-largesrc="images/large/3.jpg" alt="image03"/><span>Youth is full of pleasance</span></a>
<a href="#"><img src="images/thumbs/4.jpg" data-largesrc="images/large/4.jpg" alt="image04"/><span>Age is full of care</span></a>
<a href="#"><img src="images/thumbs/5.jpg" data-largesrc="images/large/5.jpg" alt="image05"/><span>Youth like summer morn</span></a>
<a href="#"><img src="images/thumbs/6.jpg" data-largesrc="images/large/6.jpg" alt="image06"/><span>Age like winter weather</span></a>
<a href="#" class="ib-content">
<div class="ib-teaser">
<h2>Want more?<span>Curious stuff</span></h2>
</div>
<div class="ib-content-full">
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
</div>
</a>
<a href="#"><img src="images/thumbs/7.jpg" data-largesrc="images/large/7.jpg" alt="image07"/><span>Youth like summer brave</span></a>
<a href="#"><img src="images/thumbs/8.jpg" data-largesrc="images/large/8.jpg" alt="image08"/><span>Age like winter bare</span></a>
<a href="#"><img src="images/thumbs/9.jpg" data-largesrc="images/large/9.jpg" alt="image09"/><span>Youth is full of sports</span></a>
<a href="#"><img src="images/thumbs/10.jpg" data-largesrc="images/large/10.jpg" alt="image10"/><span>Age's breath is short</span></a>
<a href="#"><img src="images/thumbs/11.jpg" data-largesrc="images/large/11.jpg" alt="image11"/><span>Youth is nimble, Age is lame</span></a>
<a href="#"><img src="images/thumbs/12.jpg" data-largesrc="images/large/12.jpg" alt="image12"/><span>Youth is hot and bold</span></a>
<a href="#"><img src="images/thumbs/13.jpg" data-largesrc="images/large/13.jpg" alt="image13"/><span>Age is weak and cold</span></a>
<a href="#"><img src="images/thumbs/14.jpg" data-largesrc="images/large/14.jpg" alt="image14"/><span>Youth is wild, and Age is tame</span></a>
<a href="#"><img src="images/thumbs/15.jpg" data-largesrc="images/large/15.jpg" alt="image15"/><span>Age, I do abhor thee</span></a>
<a href="#"><img src="images/thumbs/16.jpg" data-largesrc="images/large/16.jpg" alt="image16"/><span>Youth, I do adore thee</span></a>
<a href="#"><img src="images/thumbs/17.jpg" data-largesrc="images/large/17.jpg" alt="image17"/><span>My Love, my Love is young</span></a>
<a href="#"><img src="images/thumbs/18.jpg" data-largesrc="images/large/18.jpg" alt="image18"/><span>Age, I do defy thee</span></a>
<a href="#"><img src="images/thumbs/19.jpg" data-largesrc="images/large/19.jpg" alt="image19"/><span>O sweet shepherd, hie thee</span></a>
<a href="#"><img src="images/thumbs/20.jpg" data-largesrc="images/large/20.jpg" alt="image20"/><span>For methinks thou stay'st too long</span></a>
<a href="#"><img src="images/thumbs/21.jpg" data-largesrc="images/large/21.jpg" alt="image21"/><span>The Phoenix and the Turtle</span></a>
<a href="#"><img src="images/thumbs/22.jpg" data-largesrc="images/large/22.jpg" alt="image22"/><span>Let the bird of loudest lay</span></a>
<a href="#"><img src="images/thumbs/23.jpg" data-largesrc="images/large/23.jpg" alt="image23"/><span>On the sole Arabian tree</span></a>
<a href="#"><img src="images/thumbs/24.jpg" data-largesrc="images/large/24.jpg" alt="image24"/><span>Herald sad and trumpet be</span></a>
<a href="#"><img src="images/thumbs/25.jpg" data-largesrc="images/large/25.jpg" alt="image25"/><span>To whose sound chaste wings obey</span></a>
<a href="#" class="ib-content">
<div class="ib-teaser">
<h2>Credits <span>OOO Nice</span></h2>
</div>
<div class="ib-content-full">
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
</div>
</a>
<a href="#"><img src="images/thumbs/25.jpg" data-largesrc="images/large/25.jpg" alt="image25"/><span>To whose sound chaste wings obey</span></a>
<a href="#"><img src="images/thumbs/25.jpg" data-largesrc="images/large/25.jpg" alt="image25"/><span>To whose sound chaste wings obey</span></a>
<div class="clr"></div>
</div><!-- ib-main -->
</div><!-- ib-main-wrapper -->
</div>

<script type="text/javascript" src="/assets/libs/jquery/tmpl.min.js"></script>
<script type="text/javascript" src="/assets/plugins/kinetic.js"></script>
<script type="text/javascript" src="/assets/libs/jquery/easing.1.3.js"></script>
<script type="text/javascript">
	$(function() {

var $ibWrapper	= $('#ib-main-wrapper'),

Template	= (function() {
		
		// true if dragging the container
	var kinetic_moving				= false,
		// current index of the opened item
		current						= -1,
		// true if the item is being opened / closed
		isAnimating					= false,
		// items on the grid
		$ibItems					= $ibWrapper.find('div.ib-main > a'),
		// image items on the grid
		$ibImgItems					= $ibItems.not('.ib-content'),
		// total image items on the grid
		imgItemsCount				= $ibImgItems.length,
		init						= function() {
			
			// add a class ib-image to the image items
			$ibImgItems.addClass('ib-image');
			// apply the kinetic plugin to the wrapper
			loadKinetic();
			// load some events
			initEvents();
	
		},
		loadKinetic					= function() {
			
			setWrapperSize();
			
			$ibWrapper.kinetic({
				moved	: function() {
					
					kinetic_moving = true;
					
				},
				stopped	: function() {
					
					kinetic_moving = false;
					
				}
			});
			
		},
		setWrapperSize				= function() {
			
			var containerMargins	= $('#ib-top').outerHeight(true) + $('#header').outerHeight(true) + parseFloat( $ibItems.css('margin-top') );
			$ibWrapper.css( 'height', $(window).height() - containerMargins )
			
		},
		initEvents					= function() {
		
			// open the item only if not dragging the container
			$ibItems.bind('click.ibTemplate', function( event ) {
				
				if( !kinetic_moving )
					openItem( $(this) );
			
				return false;	
			
			});
			
			// on window resize, set the wrapper and preview size accordingly
			$(window).bind('resize.ibTemplate', function( event ) {
				
				setWrapperSize();
				
				$('#ib-img-preview, #ib-content-preview').css({
					width	: $(window).width(),
					height	: $(window).height()
				})
				
			});
		
		},
		openItem					= function( $item ) {
			
			if( isAnimating ) return false;
			
			// if content item
			if( $item.hasClass('ib-content') ) {
				
				isAnimating	= true;
				current	= $item.index('.ib-content');
				loadContentItem( $item, function() { isAnimating = false; } );
				
			}
			// if image item
			else {
			
				isAnimating	= true;
				current	= $item.index('.ib-image');
				loadImgPreview( $item, function() { isAnimating = false; } );
				
			}
			
		},
		// opens one image item (fullscreen)
		loadImgPreview				= function( $item, callback ) {
			
			var largeSrc		= $item.children('img').data('largesrc'),
				description		= $item.children('span').text(),
				largeImageData	= {
					src			: largeSrc,
					description	: description
				};
			
			// preload large image
			$item.addClass('ib-loading');
			
			preloadImage( largeSrc, function() {
				
				$item.removeClass('ib-loading');
				
				var hasImgPreview	= ( $('#ib-img-preview').length > 0 );
				
				if( !hasImgPreview )
					$('#previewTmpl').tmpl( largeImageData ).insertAfter( $ibWrapper );
				else
					$('#ib-img-preview').children('img.ib-preview-img')
										.attr( 'src', largeSrc ).end()
										.find('span.ib-preview-descr')
										.text( description );
					
				//get dimentions for the image, based on the windows size
				var	dim	= getImageDim( largeSrc );
				
				$item.removeClass('ib-img-loading');
				
				//set the returned values and show/animate preview
				$('#ib-img-preview').css({
					width	: $item.width(),
					height	: $item.height(),
					left	: $item.offset().left,
					top		: $item.offset().top
				}).children('img.ib-preview-img').hide().css({
					width	: dim.width,
					height	: dim.height,
					left	: dim.left,
					top		: dim.top
				}).fadeIn( 400 ).end().show().animate({
					width	: $(window).width(),
					left	: 0
				}, 500, 'easeOutExpo', function() {
				
					$(this).animate({
						height	: $(window).height(),
						top		: 0
					}, 400, function() {
					
						var $this	= $(this);
						$this.find('span.ib-preview-descr, span.ib-close').show()
						if( imgItemsCount > 1 )
							$this.find('div.ib-nav').show();
							
						if( callback ) callback.call();
					
					});
				
				});
				
				if( !hasImgPreview )
					initImgPreviewEvents();
				
			} );
			
		},
		// opens one content item (fullscreen)
		loadContentItem				= function( $item, callback ) {
			
			var hasContentPreview	= ( $('#ib-content-preview').length > 0 ),
				teaser				= $item.children('div.ib-teaser').html(),
				content				= $item.children('div.ib-content-full').html(),
				contentData			= {
					teaser		: teaser,
					content		: content
				};
				
			if( !hasContentPreview )
				$('#contentTmpl').tmpl( contentData ).insertAfter( $ibWrapper );
				
			//set the returned values and show/animate preview
			$('#ib-content-preview').css({
				width	: $item.width(),
				height	: $item.height(),
				left	: $item.offset().left,
				top		: $item.offset().top
			}).show().animate({
				width	: $(window).width(),
				left	: 0
			}, 500, 'easeOutExpo', function() {
			
				$(this).animate({
					height	: $(window).height(),
					top		: 0
				}, 400, function() {
					
					var $this	= $(this),
						$teaser	= $this.find('div.ib-teaser'),
						$content= $this.find('div.ib-content-full'),
						$close	= $this.find('span.ib-close');
						
					if( hasContentPreview ) {
						$teaser.html( teaser )
						$content.html( content )
					}
				
					$teaser.show();
					$content.show();
					$close.show();
					
					if( callback ) callback.call();
				
				});
			
			});
			
			if( !hasContentPreview )
				initContentPreviewEvents();	
			
		},
		// preloads an image
		preloadImage				= function( src, callback ) {
		
			$('<img/>').load(function(){
			
				if( callback ) callback.call();
			
			}).attr( 'src', src );
		
		},
		// load the events for the image preview : navigation ,close button, and window resize
		initImgPreviewEvents		= function() {
		
			var $preview	= $('#ib-img-preview');
			
			$preview.find('span.ib-nav-prev').bind('click.ibTemplate', function( event ) {
				
				navigate( 'prev' );
				
			}).end().find('span.ib-nav-next').bind('click.ibTemplate', function( event ) {
				
				navigate( 'next' );
				
			}).end().find('span.ib-close').bind('click.ibTemplate', function( event ) {
				
				closeImgPreview();
				
			});
			
			//resizing the window resizes the preview image
			$(window).bind('resize.ibTemplate', function( event ) {
				
				var $largeImg	= $preview.children('img.ib-preview-img'),
					dim			= getImageDim( $largeImg.attr('src') );
				
				$largeImg.css({
					width	: dim.width,
					height	: dim.height,
					left	: dim.left,
					top		: dim.top
				})
				
			});
			
		},
		// load the events for the content preview : close button
		initContentPreviewEvents	= function() {
		
			$('#ib-content-preview').find('span.ib-close').bind('click.ibTemplate', function( event ) {
				
				closeContentPreview();
				
			});
			
		},
		// navigate the image items in fullscreen mode
		navigate					= function( dir ) {
			
			if( isAnimating ) return false;
			
			isAnimating		= true;
			
			var $preview	= $('#ib-img-preview'),
				$loading	= $preview.find('div.ib-loading-large');
			
			$loading.show();
			
			if( dir === 'next' ) {
				
				( current === imgItemsCount - 1 ) ? current	= 0 : ++current;
				
			}
			else if( dir === 'prev' ) {
				
				( current === 0 ) ? current	= imgItemsCount - 1 : --current;
				
			}
			
			var $item		= $ibImgItems.eq( current ),
				largeSrc	= $item.children('img').data('largesrc'),
				description	= $item.children('span').text();
				
			preloadImage( largeSrc, function() {
				
				$loading.hide();
				
				//get dimentions for the image, based on the windows size
				var	dim	= getImageDim( largeSrc );
				
				$preview.children('img.ib-preview-img')
									.attr( 'src', largeSrc )
								.css({
					width	: dim.width,
					height	: dim.height,
					left	: dim.left,
					top		: dim.top
								})
								.end()
								.find('span.ib-preview-descr')
								.text( description );
				
				$ibWrapper.scrollTop( $item.offset().top )
							.scrollLeft( $item.offset().left );
				
				isAnimating	= false;
				
			});
			
		},
		// closes the fullscreen image item
		closeImgPreview				= function() {
		
			if( isAnimating ) return false;
			
			isAnimating	= true;
			
			var $item	= $ibImgItems.eq( current );
			
			$('#ib-img-preview').find('span.ib-preview-descr, div.ib-nav, span.ib-close')
							.hide()
							.end()
							.animate({
								height	: $item.height(),
								top		: $item.offset().top
								}, 500, 'easeOutExpo', function() {
								
								$(this).animate({
									width	: $item.width(),
									left	: $item.offset().left
									}, 400, function() {
									
										$(this).fadeOut(function() {isAnimating	= false;});
									
								} );
							
							});
		
		},
		// closes the fullscreen content item
		closeContentPreview			= function() {
			
			if( isAnimating ) return false;
			
			isAnimating	= true;
			
			var $item	= $ibItems.not('.ib-image').eq( current );
			
			$('#ib-content-preview').find('div.ib-teaser, div.ib-content-full, span.ib-close')
									.hide()
									.end()
									.animate({
										height	: $item.height(),
										top		: $item.offset().top
									}, 500, 'easeOutExpo', function() {
										
										$(this).animate({
											width	: $item.width(),
											left	: $item.offset().left
										}, 400, function() {
											
											$(this).fadeOut(function() {isAnimating	= false;});
											
										} );
									
									});
		
		},
		// get the size of one image to make it full size and centered
		getImageDim					= function( src ) {
			
			var img     	= new Image();
			img.src     	= src;
			
			var w_w	= $(window).width(),
				w_h	= $(window).height(),
				r_w	= w_h / w_w,
				i_w	= img.width,
				i_h	= img.height,
				r_i	= i_h / i_w,
				new_w, new_h,
				new_left, new_top;
			
			if( r_w > r_i ) {
			
				new_h	= w_h;
				new_w	= w_h / r_i;
			
			}	
			else {
			
				new_h	= w_w * r_i;
				new_w	= w_w;
			
			}
			
			return {
				width	: new_w,
				height	: new_h,
				left	: (w_w - new_w) / 2,
				top		: (w_h - new_h) / 2
			};
		
		};
	
	return { init : init };
	
})();

Template.init();

	});
</script>

<script>
!function ($) {
	$(function(){

		//$('#salesCarousel').carousel();

	})
}(window.jQuery)
</script>