#vn-gallery #gal-title {
margin: 0;
padding: 9px 32px;
font-size: 22px;
color: white;
font-weight: 400;
position: fixed;
top: 0;
left: 0;
z-index: 9;
background: black;
font-family: arial;
}

#gallery-albums { margin-top: 69px; }
.gal-button { color: #666; }

.content {
position: relative;
width: 850px;
margin: 0 auto !important;
}

.album h2 {
color: white;
text-shadow: 2px 1px 1px red;
font-size: 33px;
margin: 0;
padding: 0;
}

.bmenu{
    margin: 1em 0 0 6em;
    position: relative;
}
.bmenu li{
    font-size: 50px;
    display: block;
}
.bmenu li a{
	color: transparent;
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px #fff;
	letter-spacing: 1px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.bmenu:hover li a{
	text-shadow: 0px 0px 6px #fff;
}
.bmenu li a:hover{
	color: #fff;
	text-shadow: 0px 0px 1px #fff;
	padding-left: 10px;
}