/* HOME */
.impress-on-title { }
#bullet-separator {
font-size: 96px;
margin-top: 69px;
color: #fff;
}


/* ARTISTA */
.impress-on-artista { }
#artista strong {
font-weight: normal;
color: rgba(0,0,0,.96);
font-family: 'Ruthie', cursive;
font-size: 96px;
position: absolute;
top: -169px;
left: -169px;
}
#studio-info {
position: absolute;
top: -13px;
left: -132px;
background: rgba(0, 0, 0,0.9);
padding: 32px;
border-radius: 6px;
}
#info-tel em {
color: #666;
font-size: 81%;
}
#info-tel {
color: red;
font-weight: bold;
font-size: 181%;
margin: 13px 0;
display: block;
}
#info-hours time {
font-size: 120%;
display: block;
margin-left: 42px;
margin-bottom: 13px;
}
#info-hours {
margin: 13px 0;
color: snow;
font-size: 132%;
}
#studio-info address {
font-size: 22px;
line-height: normal;
}
.impress-on-artista #img-viewer { display: block; }
#img-viewer {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-size: cover;
background-position: 0 0;
display: none;
z-index: -1;
}


/* HISTORIA */
.impress-on-historia { }
.impress-on-historia #logo-spider-wall {
position: fixed;
bottom: 0;
right: 0;
max-width: 222px;
display: block;
}
#logo-spider-wall { display: none; }

#artista-link {
font-weight: normal;
color: rgba(0,0,0,.96);
font-family: 'Ruthie', cursive;
font-size: 81px;
position: absolute;
bottom: 55px;
left: -133px;
-moz-transform: scale(1) rotate(-13deg) translate(0px, 0px) skew(0deg, 0deg);
-webkit-transform: scale(1) rotate(-13deg) translate(0px, 0px) skew(0deg, 0deg);
-o-transform: scale(1) rotate(-13deg) translate(0px, 0px) skew(0deg, 0deg);
-ms-transform: scale(1) rotate(-13deg) translate(0px, 0px) skew(0deg, 0deg);
transform: scale(1) rotate(-13deg) translate(0px, 0px) skew(0deg, 0deg);
}
#artista-link:hover { color: #fff; text-decoration: none; }

#historia-link {
font-weight: normal;
color: rgba(0,0,0,.96);
font-family: 'Ruthie', cursive;
font-size: 69px;
position: absolute;
bottom: 196px;
right: -196px;
-moz-transform: scale(1) rotate(33deg) translate(0px, 0px) skew(0deg, 0deg);
-webkit-transform: scale(1) rotate(33deg) translate(0px, 0px) skew(0deg, 0deg);
-o-transform: scale(1) rotate(33deg) translate(0px, 0px) skew(0deg, 0deg);
-ms-transform: scale(1) rotate(33deg) translate(0px, 0px) skew(0deg, 0deg);
transform: scale(1) rotate(33deg) translate(0px, 0px) skew(0deg, 0deg);
}
#historia-link:hover { color: #fff; text-decoration: none; }

#target img { margin: 0 13px 13px 0; }
#target p {
padding: 9px 13px 9px 0;
font-size: 142%;
line-height: normal;
color: #999;
text-shadow: 0px 0px 1px rgba(255, 0, 0,0.4);
}
#history-img-one { max-height: 420px; }
#history-img-two { max-width: 142px; padding: 13px; }

#life-story-title {
font-weight: normal;
color: rgba(0,0,0,.96);
font-family: 'Ruthie', cursive;
font-size: 96px;
position: absolute;
bottom: -35px;
right: 0;
}


/* TITLE */
#canvasfield {
position: absolute;
top: 123px;
left: 249px;
}

/* impress.js title */

#title {
padding: 0;
min-height: 666px;
}
#title h1 {
font-size: 196px;
-webkit-transform: translateZ(50px);
-moz-transform: translateZ(50px);
-ms-transform: translateZ(50px);
-o-transform: translateZ(50px);
transform: translateZ(50px);
line-height: normal;
display: inline-block;
z-index: 2;
font-weight: normal;
color: rgba(0,0,0,.96);
font-family: 'Ruthie', cursive;
}
#logo-by {
font-size: 96px;
font-weight: normal;
color: rgba(255,0,0,0.36);
font-family: 'Ruthie', cursive;
position: absolute;
top: 69px;
left: -160px;
}
#logo-spider {
position: absolute;
top: 0px;
left: 273px;
z-index: 2;
max-width: 369px;
}
#logo-viuda {
position: absolute;
top: 209px;
left: -37px;
}
#logo-negra {
position: absolute;
top: 189px;
right: -58px;
}
.title-details {
font-size: 18px;
margin-top: 511px;
text-align: center;
z-index: 2;
}


/* Historia step */
#logo-spider-walk {
position: absolute;
left: -94px;
bottom: -153px;
max-width: 222px;
}



/* ---------- gallery styles start here ----------------------- */
#title-menu {
display: block;
text-align: center;
margin-top: 69px;
}
.title-menu-links {
list-style: none;
margin: 0;
padding: 0;
display: inline-block;
}
.title-menu-links li {
	margin: 20px;
	padding: 0;
	float: left;
	position: relative;
	display: inline-block;
}

.title-menu-links a {
color: #fff;
display: block;
text-decoration: none;
}
.title-menu-links a:hover {
	color: #000;
	text-decoration: none;
}

#gallery-link {
font-family: 'Ruthie', cursive;
font-weight: bold;
font-size: 88px;
line-height: 1;
}

#supplies-link {
font-family: 'Ruthie', cursive;
font-weight: bold;
font-size: 88px;
line-height: 1;
}

#fb-link {
position: absolute;
border-color: #3c5a98;
text-transform: lowercase;
text-indent: 24px;
letter-spacing: 10px;
font-weight: bold;
font-size: 42px;
line-height: 54px;
color: #fff;
background: #3c5a98;
-moz-box-shadow: 0 0 4px rgba(0,0,0,0.4);
-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.4);
box-shadow: 0 0 4px rgba(0,0,0,0.4);
display: block;
width: 42px;
height: 42px;
overflow: hidden;
border: 1px solid transparent;
text-decoration: none;
text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
right: 0;
top: 0;
}