@import url(custom.css);
@import url(impress.css);
@import url(home.css);
@import url(waterwheel.css);

@font-face {
  font-family: 'Ruthie';
  src: url("../fonts/ruthie.woff") format("woff");
}

@font-face {
  font-family: 'WebSymbols';
  src: url("../fonts/websymbols.woff") format("woff");
}

html, body { background-position: 0 0; background-size: cover; }
body { background: #000 url(/assets/img/web.png); }

.ac { text-align: center; }
.ar { text-align: right; }
.al { text-align: left; }
.fR { float: right; }
.fL { float: left; }

.inlined { display: inline-block; vertical-align: top;}
.relative { position: relative; }
.marge { margin-top: 42px; }
.hide { display: none; }

.text-shadow {
text-shadow: 0 1px 0 #900,
               0 2px 0 #300,
               0 3px 0 #f00,
               0 4px 0 #f00,
               0 5px 0 #900,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15)
}



/* HOME PAGE
*********************
*/
#main {
position: absolute;
top: 0; bottom: 0;
left: 0; right: 0;
margin: 0; padding: 0;
}

#oilPaint { opacity: 0.11; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }


/* GALLERY PAGE
*********************
*/


/* MERCHENDIZE PAGE
*********************
*/


/* OTHER */
.arrow{
  width:32px;
  height:54px;
  background:url('../img/arrows.png') no-repeat;
  position:fixed;
  top:50%;
  margin-top:-27px;
  cursor:pointer;
  text-indent:-9999px;
  overflow:hidden;
  opacity:0.8;
  border:none !important;
  text-decoration:none !important;
  
  -moz-transition:0.2s opacity;
  -webkit-transition:0.2s opacity;
  transition:0.2s opacity;
  z-index: 99999;
  display: none;
}

.arrow:hover{
  opacity:1;
}

#arrowLeft{
  left:45px;
}

#arrowRight{
  right:45px;
  background-position:top right;
}

/* Hide the arrows if impress is not supported */

#impress.impress-not-supported + .arrow,
#impress.impress-not-supported + .arrow + .arrow{
  display:none;
}
