/********************
Default Example
*********************/
#waterwheel-carousel-default {
height: 113px;
position: absolute;
clear: both;
bottom: -33px;
width: 855px;
right: 33px;
}
#waterwheel-carousel-default a {
color: #fff;
font-size: 296px;
font-family: 'Ruthie';
line-height: 69px;
display: block;
}
#waterwheel-carousel-default a:hover {
  text-decoration: none;
}
#waterwheel-carousel-default .carousel-images img {
visibility:hidden;
cursor:pointer;
}
#waterwheel-carousel-default .carousel-controls .carousel-prev {
position: absolute;
bottom: 32px;
left: 32px;
z-index: 10;
}
#waterwheel-carousel-default .carousel-controls .carousel-next {
position: absolute;
bottom: 32px;
right: 32px;
z-index: 10;
}

/********************
High Arch
*********************/
#waterwheel-carousel-higharch {
width:960px;
background-color:#CCC;
border:1px solid #222;
height:300px;
position:relative;
clear:both;
overflow:hidden;
}
#waterwheel-carousel-higharch a {
color:#222;
}
#waterwheel-carousel-higharch .carousel-images img {
visibility:hidden;
cursor:pointer;
}
#waterwheel-carousel-higharch .carousel-controls .carousel-prev {
position:absolute;
bottom:50px;
left:30px;
}
#waterwheel-carousel-higharch .carousel-controls .carousel-next {
position:absolute;
bottom:50px;
right:30px;
}

/********************
Horizon
*********************/
#waterwheel-carousel-horizon {
width:960px;
background-color:#CCC;
border:1px solid #222;
height:250px;
position:relative;
clear:both;
overflow:hidden;
}
#waterwheel-carousel-horizon a {
color:#222;
}
#waterwheel-carousel-horizon .carousel-images img {
visibility:hidden;
cursor:pointer;
}
#waterwheel-carousel-horizon .carousel-controls .carousel-prev {
position:absolute;
bottom:20px;
left:30px;
}
#waterwheel-carousel-horizon .carousel-controls .carousel-next {
position:absolute;
bottom:20px;
right:30px;
}